@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');

html {
  font-family: 'Delius Unicase', cursive;
}

body {
  color: #90dbf4;
  font-weight: 100;
  max-width: 50em;
  margin: 0 auto;
}

div:focus {
  outline: none;
}

#heading {
  font-size: 48px;
  padding-top: 30px;
}

#content {
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 24px;
}

#code-button {
  position: relative;
  float: left;
}

#file-button {
  position: relative;
  float: right;
}
